/*
Custom CSS overrides for theme: Airspace
*/

.pagination > li > a {
    color: #655E7A;
    margin: 3px;
}
.pagination > li.disabled > span {
    color: #655E7A;
}
.pagination > li.active > a,
.pagination > li > a:hover {
    color: #fff;
    background-color: #655E7A;
}
